<template name = "admin">
<head>
  <title>Admin page</title>
</head>

<body>
  <div class="container">
    <img src="find_signatures.png" style="width:300px">

    {{> loginButtons}}

    {{#if currentUser}}
    {{#if isUserAdmin}}

    <form class="query">
      <p style="margin-left:130px"><input type="text" pattern="\d{5}-?(\d{4})?" name="zip" placeholder="Zipcode" class="form-control" style="width:300px" required/></p>
      <p><input type="checkbox" name="timeline" value=""/> Interested volunteers? </p>
      <p><input type="submit" class="btn btn-default" value="query"/></p>
    </form>
    <hr>

  {{#each sigs}}
    <ul>
      {{fullname}} - {{zip}} - {{volunteer}} - {{message}}
      <button class="delete">&times;</button>
    </ul>
  {{/each}} 
  {{qcount}} supporters

  {{else}}
  <p>You do not have access to this page</p>

  {{/if}}

  {{else}}
  <p>Admins can log in to view data</p>

  {{/if}}
  </div>
</body>
</template>
