<template name = "home">
<head>
<link rel='icon' href='/favicon.ico'>
  <title>Registration</title>
</head>

<body>
  <div class="container">
  <h2>Close Indian Point Nuclear Plant Now!</h2>
<p><img src="indian_pp.jpg" style="width:350px" align="left"></p>

<H2>25</H2> miles north of New York City, lives Indian Point <br> Nuclear Plant
<H2>200M</H2> people live within 50 miles of Indian <br> Point Nuclear Plant
  Built over 40 years ago, Indian Point Nuclear Plant is located 25 miles north of New
York City on the Hudson River at the intersection of two earthquake faults, the
Ramapo Fault and the Stamford-to-Peekskill Fault Line. Indian Point is also sited in the
most populous location of any US nuclear plant, with 20 million people living or
working within 50 miles of the plant, and experts say that evacuation plans are
severely deficient. A catastrophic accident at Indian Point could kill tens of thousands,
cause many more long-term cancers, and render NYC and much of the Hudson Valley
uninhabitable.
The Nuclear Regulatory Commission (NRC) is considering Entergy’s application to
relicense Indian Point Reactors (IP) 2 & 3 which are operating under their original 40
year licenses, expiring in 2013 and 2015, respectively. Both IP2 and IP3 have been
plagued with major safety problems for decades. As the reactors age, Indian Point will
experience an increasing number of equipment and safety-related failures.
As a recent explosion and shutdowns at Indian Point show, the plant’s aging reactors
pose an unnecessary and unacceptable risk to New York City residents. In addition to
its proximity to one of the largest metropolitan areas in the United States and being
located on two significant fault lines, Indian Point has been rated the most vulnerable
nuclear plant in the country to an earthquake-induced meltdown. It is also known to
be a potential target for terrorism because of its proximity to NYC, presenting a
tremendous security risk. A 2011 Natural Resources Defense Council report found a
major accident at the plant could require the evacuation or sheltering of nearly 10
million people from radiation exposure (including most city residents) and render
much of NYC too radioactively contaminated to live in. A 2004 Union of Concerned
Scientists study determined the economic costs of an accident could be as high as
$1.1 trillion, primarily because of the impact on NYC.
This is an unacceptable level of risk. New York City has a direct stake in ensuring
that Indian Point is not relicensed and closes when its federal operating licenses
expire by the end of this year.
The good news is, due to the efforts of Governor Cuomo, the NYS Public Service
Commission, Consolidated Edison, and the New York Power Authority, Indian Point
can close as scheduled without compromising the reliability and affordability of the
city’s power supply. The implementation of the Indian Point Reliability Contingency
Plan, developed in 2013, is proceeding on schedule, and will ensure there is no risk of
blackouts or electricity price spikes when Indian Point ceases operations. There is
simply no need to choose between the health, safety, and security of New York City
and reliable, affordable electricity. The replacement of fossil fuel energy sources
necessary to meet these goals also requires that we ensure workers and communities
impacted by plant closures are supported through just transition policies and
programs.
    <center> <button id="register" type="button">Support the campaign!</button> </center>
  </div>
</body>
</template>