<template name = "share">
<head>
<link rel='icon' href='/favicon.ico'>
  <title>Share</title>
</head>
<body>
<!--  -->
  <div class="container">
         <h2>Upload an image below and share!</h2>
        <div id="social_login" class="social_login">
    <div class="row">
      <div class="col-md-8">

        <div class="content">
            <div class="inner_container">
              <div>
                <input type="file" id="file" />
              </div>
              <div id="image-container">
                <canvas width="500" height="500"></canvas>
                <div>
                  <input id="topLineText" type="hidden">
                  <span>Bottom Line:</span>
                  <input id="bottomLineText" type="text">
                  <button id="saveBtn">Upload</button>
                </div>
              </div>
            </div>
          </div>
          <script>
            (function(d,s,id) {
              var js,fjs = d.getElementsByTagName(s)[0];
              if(d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_us/all.js#xfbml=1";
              fjs.parentNode.insertBefore(js,fjs);
            } (document, 'script', 'facebook-jssdk'));
            function textChangeListener (evt) {
              var id = evt.target.id;
              var text = evt.target.value;
              if (id == "topLineText") {
                window.topLineText = text;
              } else {
                window.bottomLineText = text;
              }
              redrawPhoto(window.imageSrc, window.topLineText, window.bottomLineText);
            }
            function redrawPhoto(image, topLine, bottomLine) {
              // Get Canvas2DContext
              var canvas = document.querySelector('canvas');
              var ctx = canvas.getContext("2d");
              ctx.drawImage(image, 0, 0, canvas.width, canvas.height/image.height * image.height);
              if(Session.get("msg")) { drawMessage(canvas,ctx,'bottom', Session.get("msg")); }
              if (topLine) { drawMessage(canvas, ctx, 'top', topLine); }
              if (bottomLine) { drawMessage(canvas, ctx, 'bottom', bottomLine); }
            }
            function drawMessage(canvas, ctx, position, message) {
              var fontSize = 30;
              var padding = 10;
              var verticalPosition = function() {
                if (position === 'top') {
                  return fontSize + padding;
                } else {
                  return canvas.height - padding;
                }
              };
              ctx.font = fontSize + 'pt Impact';
              ctx.textAlign = 'center';
              ctx.fillStyle = 'white';
              ctx.fillText(message, canvas.width / 2, verticalPosition() - 10);
              ctx.strokeStyle = 'black';
              ctx.lineWidth = fontSize/10;
              ctx.strokeText(message, canvas.width / 2, verticalPosition() - 5);
            }
            function saveFile() {
              window.open(document.querySelector('canvas').toDataURL());
            }
            function handleFileSelect(evt) {
              var canvasWidth = 500;
              var canvasHeight = 500;
              var file = evt.target.files[0];
              var reader = new FileReader();
              reader.onload = function(fileObject) {
                var data = fileObject.target.result;
                // Create an image object
                var image = new Image();
                image.onload = function() {
                  window.imageSrc = this;
                  redrawPhoto(window.imageSrc, null, null);
                };
                // Set image data to background image.
                image.src = data;
                console.log(fileObject.target.result);
              };
              reader.readAsDataURL(file);
            }
            window.topLineText = "";
            window.bottomLineText = "";
            var input1 = document.getElementById('topLineText');
            var input2 = document.getElementById('bottomLineText');
            input1.oninput = textChangeListener;
            input2.oninput = textChangeListener;
            document.getElementById('file').addEventListener('change', handleFileSelect, false);
            document.querySelector('button').addEventListener('click', saveFile, false);
          </script>
            <div class="fb-share-button"
            data-layout="button_count">
            </div>

          <br>
          <div class="fb-share-button"
          data-layout="button_count">
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</template>